<br>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>Contact Via Facebook</h1>
			<br>
			<br>
			<h1>Contact Via Twitter</h1>
			<br>
			<br>
			Call Us
		</div>
		<div class="col-sm-6">
			<h2>www.facebook.com</h2>
			<br>
			<br>
			<h2>Twitter.cam</h2>
			<br><br>
			<h2>0221120012</h2>
		</div>
	</div>
</div> 